<!-- <h1>List of people you owe</h1>

  <ul>
    <% @debts.each() do |debt| %> -->
    <!-- attaches the id to a particular debtor -->
    <!-- <li><a href="/debts/<%= debt.id() %>"><%= debt.name() %></a></li>
    <% end %>
  </ul>
<a href="/">Home</a> -->
