<div class="heading">
    <h1>Welcome to my money ledger!</h1>
</div>
<!-- <form action="/loans" method="post">
  <div class="form-group">
     <label for="name">Name
</label>

     <input id="name" name="name" class="form-control" type="text">
     <label for="amount">Amount
</label>
     <input id="amount" name="amount" class="form-control" type="text">
     <label for="time">Time
</label>
     <input id="time" name="time" class="form-control" type="text" placeholder="time in years">
  </div>
  <button type="submit" class="btn-success">Enter</button>
</form>

<a href="/loans">view debtors</a> -->
<br>
<br>
<br>
 <a href="/loanForm">Lend money</a>
<a href="/debtForm">Borrow money</a>
