<!DOCTYPE html>
<html>
   <head>
     <title>Money Ledger!</title>
     <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
     <link rel="stylesheet" href="/css/styles.css">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
   </head>
   <body>
     <div class="container">
       <div class="paper">   <%= yield %> </div>
     </div>
   </body>
 </html>
